<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta - HELIOSLINK</title>
    <link rel="stylesheet" href="../static/css/log_styles.css">
</head>

<body>

    <section class="hero">

        <div class="hero-background"></div>

        <div class="hero-content">

            <div class="logo-area">
                <img src="../static/images/logo.png" class="logo">
            </div>

            <div class="login-box">

                <h2>Crear cuenta</h2>

                <form method="post">

                    <label>Nombre</label>
                    <input type="text" placeholder="Nombre completo" name="name_usr">

                    <label>Correo</label>
                    <input type="email" placeholder="Correo electrónico" name="email_usr">

                    <label>Contraseña</label>
                    <input type="password" placeholder="Crear contraseña" name="pass_usr">

                    <label>Nombre de la Organización</label>
                    <input type="text" placeholder="Nombre de la Organización" name="name_org">
                    <label>Ubicación de la Organización</label>
                    <input type="text" placeholder="Dirección" name="ubica_org">

                    <label>Teléfono de la Organización</label>
                    <input type="tel" placeholder="Teléfono" name="tel">

                    <button class="login-btn" type="submit">
                        Crear cuenta
                    </button>

                    <p class="extra-links">
                        ¿Ya tienes cuenta? <a href="">Iniciar sesión</a>
                    </p>

                </form>

            </div>

        </div>

    </section>

</body>

</html>
